* {
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 4, 53); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

form {
    width: 400px;
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

button {
    width: 100%;
}